/.git
/.vs
/Debug
/Release
mod.vcxproj.user
*.exp
*.pdb

CaveStory/fps
CaveStory/mute
CaveStory/Config.dat
CaveStory/Profile.dat
CaveStory/window.rect
!CaveStory/mods/autpi/autpi.dll
!CaveStory/mods/layers/layers.dll
!CaveStory/mods/layers/yaml-cpp.dll
!CaveStory/mods/layers/settings.ini
!CaveStory/lua.dll
/ZZ-FinalRelease
CaveStory/mods/error.txt
